*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  width:100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
  gap: 50px;
}


.scroll{
  background-color: #a4c3b2;
  width:100vw;
  height:1vh;
  position: fixed;
  top:0%;
  z-index: -10;
  left: 0%;
}




/* Title */
.wrapper{
  margin-top: 100px;
  margin-bottom: 3vh;
  font-family: 'Rubik Burned';
  text-align: start;
}
.wrapper h2{
  margin: 40px;
  line-height: 1;
  font-size: 40px;
  color: transparent;
  text-transform: uppercase;
  background-image: linear-gradient(45deg, #2ecc71, #3498db, #9b59b6, #f39c12);
 
  /* it clips the background with our text */
  -webkit-background-clip: text;

  animation: animate 10s linear 0s infinite;
  -webkit-background-size: 500%;
  background-size: 500%;
}

@keyframes animate{
  0%{
    background-position: 0 100%;
  }
  25%{
    background-position: 100% 0;
  }
  50%{
    background-position: 0 100%;
  }
  75%{
    background-position: 100% 0;
  }
  100%{
    background-position: 0 100%;
  }
}




/* Intro */
.intro{
  max-width: 40vh;
  padding: 20px;
  font-size: 1.4vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap:5px;
}
.intro--role{
  text-decoration: underline;
}


.about{
  display: flex;
  flex-direction: column;
  gap:3px;
}
.about p span{
  text-decoration: underline;
  font-weight: 900;
}


/* Skill */

.skills--list{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  max-width: 40vh;
  padding: 20px;
  font-size: 24px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.skills--list li{
  border: 2px solid black;
  text-transform: lowercase;
  padding:7px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 2px 2px 5px black;
}

/* Projects */
.projects{
  display: flex;
  flex-direction: column;
  gap:10px;
}
.projects a{
  border: 2px solid black;
  box-shadow: 2px 2px 5px black;
  padding: 10px;
  color: black;
  text-decoration: none;
  border-radius: 10px;
}
.projects--title{
  text-decoration: underline;
}


/* Links */
.links{
  display: flex;
  gap:15px;
  align-items: center;
  justify-content: center;
}
.links i{
  font-size: 35px;
  text-decoration: none;
  color:black;
}
.links button{
  padding:7px;
  border-radius: 5px;
  font-size: 20px;
  background-color: transparent;
}
.links button a{
  text-decoration: none;
  color:black;
}


.mail{
  font-size: 1.1vw;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 5vh;
}
.mail--smile{
  width: 1.2vw;
  font-size: 1.4vw;
}
.mail form{
  font-size: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.input{
  width: 150px;
  padding: 5px;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 3px 3px 1px black;
  text-align: center;
  outline: none;
}
.mail form button{
  width: 150;
  padding: 5px;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 3px 3px 1px black;
}



/* Footer */
.footer{
  padding:5px;
  text-align: center;
}
.footer h2{
  font-size: 1vw;
}
.footer--name{
  animation: colorChange 5s ease-in-out 0s infinite;
}
@keyframes colorChange{
  0%{
    color: #2ecc71;
  }
  33%{
    color: #3498db;
  }
  66%{
    color: #9b59b6;
  }
  83%{
    color: #f39c12;
  }
}


@media only screen and (max-width: 600px) {
  .intro {
    font-size: 15px;
  }
  .wrapper {
    font-size: 20px;
  }
  .mail{
    font-size: 15px;
  }
  .skills--list{
    font-size: 15px;
  }
  input, button{
    width: 100px;
  }
  .links{
    gap: 5px;
  }
  .links i{
    font-size: 25px;
  }
  .mail--smile{
    font-size: 20px;
  }
  body{
    align-items: center;
  }
  .wrapper{
    align-self: flex-start;
  }
}
